<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uga.cs6060.geographyquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasicQuizQuestion6Activity"></activity>
        <activity android:name=".BasicQuizQuestion5Activity" />
        <activity android:name=".BasicQuizQuestion4Activity" />
        <activity android:name=".BasicQuizQuestion3Activity" />
        <activity android:name=".BasicQuizQuestion2Activity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartQuizActivity"
            android:parentActivityName=".SplashScreenActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".PastResultsActivity"
            android:parentActivityName=".SplashScreenActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".BasicQuizQuestion1Activity"
            android:parentActivityName=".StartQuizActivity"
            android:theme="@style/HiddenTitleTheme" />
    </application>

</manifest>